<h1>Hire Me!</h1>

<hr>

<h3>Phone</h3>

<p><%= number_to_phone "6507402147" %></p>

<h3>Email</h3>

<p><a href="mailto:anthonyjcorreia@yahoo.com?subject=PortfolioContact" "email me">Email me</a> </p>